<div [formGroup]="form">
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label text-end" [attr.for]="field.key">
            {{ field.label }}
        </label>

        <div class="col-sm-10">
            @switch (field.controlType) {@case ('textbox') {
            <input
                class="form-control"
                [formControlName]="field.key"
                [id]="field.key"
                [type]="field.type"
            />
            }@case ('dropdown') {
            <select
                class="dropdown-center dropdown-menu-xxl-start dropdown-toggle"
                [id]="field.key"
                [formControlName]="field.key"
            >
                @for (opt of field.options; track opt) {
                <option class="dropdown-item text-center" [value]="opt.key">
                    {{ opt.value }}
                </option>
                }
            </select>
            }}
        </div>
    </div>

    @if (!isValid && field.required && (form.controls[field.key].touched ||
    form.controls[field.key].dirty)) {
    <div class="errorMessage text-danger text-center">{{ field.label }} ضروری می باشد</div>
    }
</div>
