<div class="container mt-4">
    <h2>Payment Methods</h2>
    <button class="btn btn-primary mt-3" (click)="addPaymentMethod()">Add New Method</button>
    @if (isFetching() && !error()) {
    <p>Loading ...</p>
    <p class="spinner-border spinner-border-sm"></p>

    } @if (error()) {
    <p>{{ error() }}</p>
    }

    <ag-grid-angular
        [rowData]="paymentMethods()"
        [columnDefs]="colDefs"
        class="ag-theme-quartz"
        style="height: 500px"
        [enableRtl]="true"
        (rowDoubleClicked)="onRowDoubleClicked($event)"
    />
</div>

<!-- The AG Grid component -->
